:root{
  --bg-color: #F5F5F5;

  --principal-text: #07080E;

  --verde-principal: #4B5842;
  --verde-secundario: #92A428;
  --resalto: #CF4342;

}

@font-face {
  font-family: "JurassicPark";
  src: url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/JurassicPark/JurassicPark.woff") format("woff");
}

body {
  background-color: var(--bg-color);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1{
  color: var(--principal-text);  
}
table {
  border-collapse: collapse;
  box-shadow: 0px 0px 10px var(--verde-principal);
}

td,
th {
  padding: 3px;
  text-align: center;
}

td:hover{
  background-color: var(--verde-principal);
  color: var(--bg-color);
  border-radius: 10px;
  cursor: pointer;
}

th {
  font-weight: bold;
  background-color: var(--verde-secundario);
}
.yearCalendar {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.today {
  border-radius: 10px;
  outline: 3px solid var(--resalto);
}

.today:hover{
  border-radius: 10px;
  border: 0px;
  background-color: var(--resalto);
}

.holyday {
  color: var(--verde-principal);
}
.month {
  margin-top: 1rem;
}
#popUpFinSemana, #popUpSemana {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  padding: 2%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.iconPopup{
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 20px;
  color: var(--verde-principal);
}

ion-icon:hover{
  cursor: pointer;
}

nav {

  display: flex;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

nav img{
  width: 110px;
  height: 90px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  text-align: center;
  margin-left: auto;
  justify-content: center;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 20px;
  position: relative;
}

.nav-links ul li a {
  color: var(--principal-text);
  text-decoration: none;
  font-size: 18px;
}

.nav-links ul li.selected a {
  border-bottom: 3.5px solid var(--verde-principal);
}

.nav-links ul li::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--verde-principal);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.imgportada {
  position: relative;
  width: 100%;
}

.imgportada p {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8em;
  font-family: 'JurassicPark', sans-serif;
  opacity: 0.8;
  text-align: center;
  width: 100%;
}

.imgportada img {
  width: 100%;
}



